{% extends 'clinicaweb.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-xxl bd-gutter mt-5 my-md-5 bd-layout">
    <main class="container mt-4">
        <div class="row justify-content-center g-5">
            <div class="col-md-6 px-4">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Recuperar Contraseña</h2>
                        <p class="text-center">Por favor ingrese su correo electrónico y le enviaremos instrucciones para recuperar su contraseña.</p>
                        <form action="" method="post" class="px-4 py-3">
                            {% csrf_token %}
                            {% if form.email.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.email.errors }}
                                </div>
                            {% endif %}
                            <div class="mb-3">
                                {{ form }}
                            </div>
                            <button type="submit" class="btn btn-primary w-100 mt-3">Continuar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
  </div>
{% include 'footer.html' %}
{% endblock %}

