{% block content %}
<div id="top-header">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <ul class="nav flex-column">
                <a class="navbar-brand fs-5" href="{% url 'inicio' %}">Clínica kill Coronavirus</a>
                <div>
                    <a class="navbar-brand fs-6" href="#"><i class="fas fa-phone-volume"></i>  Mesa Central 2 2222 2222</a>
                    <a class="navbar-brand fs-6" href="#"><i class="fas fa-phone-volume"></i>  Reserva de horas 2 2222 2222</a>
                </div>  
            </ul>
            <!-- Sección Agendar cita -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Agenda tu hora</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" class="needs-validation mt-4 p-5 m-4" novalidate>
                            {% csrf_token %}
                            <div class="form-group">
                            {{ form.as_p }}
                            </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Agendar cita</button>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="btn btn-danger"><i class="fa-regular fa-clock"></i> Reservar Horas</span>
            </button>

            <div class="offcanvas offcanvas-end bg-body-tertiary" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Reserva tu hora</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                    <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Presencial</button>
                    </li>

                
                    {% comment %} inicio
                    <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                        <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    </li>
                </ul>
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
                {% endcomment %}
                </div>
            </div>
        </div>
    </nav>
</div>
{% endblock %}