{% extends 'clinicaweb.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
    {% endif %}
    <h1 class="text-center">Eliminar Doctors</h1>

    <table class="table table-ligth w-75 mx-auto text-center">
        <tr class="table-dark">
            <th>Id Doctor</th>
            <th>Nombre Doctor</th>
            <th>Tílo Profesional</th>
            <th>Especialidad Médica</th>
            <th>Correo de Doctor</th>
            <th></th>
    {% for doctor in Doctor %}
        <tr>
            <td>{{medico.id_doctor}}</td>
            <td>{{medico.nombre_doctor}}</td>
            <td>{{medico.titulo_profesional}}</td>
            <td>{{medico.id_especialidad}}</td>
            <td>{{medico.correo}}</td>
            <td> 
                <form action="{% url 'eliminar_doctor' Doctor.id_doctor %}"
                 method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" onclick="return confirm('¿Estás seguro de eliminar al paciente?')">
                        <i class="fa fa-trash"></i>
                    </button>
                </form>
            </td> 
        </tr>   
    {% endfor %}
    </table>

{% endblock %}