{% extends 'clinicaweb.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">{{message}}</div>
    {% endfor %}
{% endif %}

    <h1 class="text-center">Lista de Especialidades</h1>

    <table class="table table-ligth w-75 mx-auto text-center">
        <tr class="table-dark">
            <th>Id Especialidad</th>
            <th>Nombre Especialidad</th>
            <th></th>
            <th></th>

    {% for especialidad in especialidades %}
        <tr>
            <td>{{especialidad.id_especialidad}}</td>
            <td>{{especialidad.nombre_especialidad}}</td>
            <td> 
                {% comment %} <form action="{% url 'eliminar' especialidad.id_especialidad %}"
                    method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" title="Eliminar" onclick="return confirm('¿Estás seguro de eliminar al paciente?')">
                        <i class="fa fa-trash"></i>
                    </button>
                </form>
            </td> 
            <td>               
                <form action="{% url 'detalle' especialidad.id_especialidad %}"
                    method="post">
                    {% csrf_token %}
                    <button class="btn btn-warning" title="Editar">
                        <i class="fa fa-edit"></i>
                    </button> {% endcomment %}
                {% comment %} </form> {% endcomment %}
            </td> 
        </tr>   
    {% endfor %}
    </table>
{% include 'footer.html' %}
{% endblock %}
