{% extends 'clinicaweb.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{message}}</div>
        {% endfor %}
    {% endif %}
    <h1 class="text-center">Crear Médicos</h1>

    <form class="w-50 shadow mx-auto p-4 m-3" method="post" action="doctor/guardar" enctype="multipart/form-data">
        {% csrf_token %}
        Id Médico: <input type="text" name="id_doctor" class="form-control my-2" required>
        Nombre: <input type="text" name="nombre_doctor" class="form-control my-2" required>
        Foto: <input type="file" name="foto" class="form-control my-2">
        Título del Profesional: <input type="text" name="titulo" class="form-control my-2" required>
            <!-- Selector de Especialidad -->
            <label for="especialidad">Especialidad del profesional:</label>
                <select id="especialidad" name="especialidad" class="form-control my-2" required>
                    {% for especialidad in lista_especialidades %}
                        <option value="{{ especialidad.id_especialidad }}">
                        {{ especialidad.nombre_especialidad }}                
                        </option>
                    {% endfor %}
                </select>
        Correo: <input type="text" name="correo_doctor" class="form-control my-2" required>
        <input type="submit" value="Guardar">
    </form>
    {% include 'footer.html' %}
{% endblock %}