{% extends 'clinicaweb.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">{{message}}</div>
    {% endfor %}
{% endif %}

    <h1 class="text-center">Lista de Médicos</h1>

    <table class="table table-ligth w-75 mx-auto text-center">
        <tr class="table-dark">
            <th>Id Médico</th>
            <th>Nombre Médico</th>
            <th>Título del Profesional</th>
            <th>Especialidad del profesional</th>
            <th>Correo</th>
            <th></th>
            <th></th>

    {% for doctor in Doctor %}
        <tr>
            <td>{{medico.id_doctor}}</td>
            <td>{{medico.nombre_doctor}}</td>
            <td>{{medico.titulo}}</td>
            <td>{{medico.id_especialidad}}</td>
            <td>{{medico.correo}}</td>
            <td> 
                <form action="{% url 'eliminar_doctor' Doctor.id_doctor %}"
                 method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" title="Eliminar" onclick="return confirm('¿Estás seguro de eliminar al paciente?')">
                        <i class="fa fa-trash"></i>
                    </button>
                </form>
            </td> 
            <td>               
                <form action="{% url 'detalle_doctor' Doctor.id_doctor %}"
                    method="post">
                    {% csrf_token %}
                    <button class="btn btn-warning" title="Editar">
                        <i class="fa fa-edit"></i>
                    </button>
                </form>
            </td> 
        </tr>   
    {% endfor %}
    </table>
{% include 'footer.html' %}
{% endblock %}
