{% extends 'clinicaweb.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">{{message}}</div>
    {% endfor %}
{% endif %}

    <h1 class="text-center mt-5">Lista de Pacientes</h1>

    <table class="table table-ligth w-75 mx-auto mt-2 mb-5 text-center">
        <tr class="table-dark">
            <th>Rut Paciente</th>
            <th>Nombre Paciente</th>
            <th>Dirección Paciente</th>
            <th>Teléfono Paciente</th>
            <th>Correo Paciente</th>
            <th></th>
            <th></th>

    {% for paciente in pacientes %}
        <tr>
            <td>{{paciente.rut_paciente}}</td>
            <td>{{paciente.nombre_paciente}}</td>
            <td>{{paciente.direccion_paciente}}</td>
            <td>{{paciente.telefono_paciente}}</td>
            <td>{{paciente.correo_paciente}}</td>
            <td> 
                 <form action="{% url 'eliminar' paciente.rut_paciente %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" title="Eliminar" onclick="return confirm('¿Estás seguro de eliminar al paciente?')">
                        <i class="fa fa-trash"></i>
                    </button>
                </form> 
            </td> 
            <td>               
                <form action="{% url 'detalle' paciente.rut_paciente %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-warning" title="Editar">
                        <i class="fa fa-edit"></i>
                    </button>
                </form>
            </td> 
        </tr>
    {% empty %}
        <tr>
          <td colspan="5" class="text-center">No hay pacientes registrados.</td>
        </tr>   
    {% endfor %}
    </table>
{% include 'footer.html' %}
{% endblock %}
