{% extends 'clinicaweb.html' %}

{% block content %}
    <h1 class="text-center">Lista de Pacientes</h1>

    <table class="table table-ligth w-75 mx-auto text-center">
        <tr class="table-dark">
            <th>Rut Paciente</th>
            <th>Nombre Paciente</th>
            <th>Dirección Paciente</th>
            <th>Teléfono Paciente</th>
            <th>Correo Paciente</th>
            <th></th>
    {% for paciente in pacientes %}
        <tr>
            <td>{{paciente.rut_paciente}}</td>
            <td>{{paciente.nombre_paciente}}</td>
            <td>{{paciente.direccion_paciente}}</td>
            <td>{{paciente.telefono_paciente}}</td>
            <td>{{paciente.correo_paciente}}</td>
            <td> 
            </td> 
        </tr>   
    {% endfor %}
    </table>
{% endblock %}
